@import url('./fonts.css');

* {
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}

.container {
    font-family: 'Roboto',sans-serif;
    width: 1440px;
    margin: 0 auto;
    padding: 120px 100px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
}
.title-stroke{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stroke{
    margin-bottom: 100px;
    width: 100px;
    height: 4px;
    background: #F5BD41;
    border: none;
}
.row {
    margin:0;
}

.col {
    display: flex;
    float: left;
    width: 300px;
    height: 180px;
}

.review {
    margin: 0;
    text-align: center;
    border-radius: 8px;
}

.review-image1 {
    margin: 28px 0;
    width: 80px;
    height: 90px;
}
.review-image2 {
    margin: 32px 0;
    width: 85px;
    height: 85px;
}
.review-image3 {
    margin: 40px 0;
    width: 100px;
    height: 70px; 
}
.review-image4 {
    margin: 32px 0;
    width: 90px;
    height: 85px;
}

.review-title {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.-text {
    color: #383838;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    align-content: center;
    background: #10367C;
    height: 630px;
    width: 1440px;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-left: 104px;
}
.about{
    text-align: left;
    width: 211px;
    height: 190px;
    margin-bottom: 158px;
}
.property{
    margin-left: 223px;
    text-align: left;
    width: 133px;
    height: 305px;
}
.support{
    margin-left: 285px;
    line-height: 23px;
    text-align: left;
    width: 230px;
    height: 117px;
}
.end{
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 105px;
}
.style1{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
}
.style2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
}
.style3{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}