@import url('./fonts.css');

* {
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}

.top {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: border-box;
    align-content: center;
    width: 1440px;
    min-height: 900px;
    background: url("../images/castl.png");
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.header-links{
    display: flex;
    width: 300px;
    margin-right: 104px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4px;
}
.logo {
    display: flex;
    flex-direction: row;
    margin-left: 104px;
    height: 40px;
    width: 205px;
}
.svg-sprite{
     position:absolute;
    visibility:hidden;
    width: 0;
    height: 0;}

.stays {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
}
.stays:hover,.attractions:hover{
    border-bottom: 4px solid #F5BD41;
    cursor: pointer;
}
.attractions {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 108px;
    height: 28px;
    padding-bottom: 10px;
    margin-right: 30px;
    margin-left: 10px;
}

.home {
    display: flex;
    height: 40px;
    width: 40px;
    margin-left: 25px;
}

.light {
    display: flex;
    height: 30px;
    width: 30px;
}

.disc {
    display: flex;
    margin-top: 202px;
    margin-left: 104px;
    width: 542px;
    height: 118px;

}

.discover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
}

.section {
    display: flex;
    margin-top: 100px;
    margin-left: 128px;
    flex-direction: row;
    gap: 221px;
    height: 21px;
    width: 962px;
}

.destination {
    flex-direction: row;
    display: flex;
    text-align: left;
    width: 246px;

}

.check {
    display: flex;
    flex-direction: row;
    width: 183px;
    text-align: left;
}

.info {
    flex-direction: row;
    color: #ffffff;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.inputs {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    height: 64px;
    width: 1223px;
    margin-left: 104px;
    border-radius: 8px;
    border: medium;
    background: #ffffff;
}
.city {
    width: 469px;
    height: 64px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: medium;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.date {
    width: 259px;
    height: 64px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border-color: #FFFFFF;
}
.date:hover{
    border-color:#F5BD41;
    border-width: 3px;
    border-radius: 8px;
}
.rooms {
    width: 320px;
    height: 64px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: medium;

}
.search {
    width: 192px;
    height: 64px;
    text-align: center;
    background: #3077C6;
    border: medium;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.sear {
    margin-top: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    background: #3077C6;
    border: medium;
    border-radius: 8px;
}
.market-place {
    display: flex;
    flex-direction: row;
    height: 39px;
    width: 269px;
    margin-left: 585px;
    margin-top: 120px;
}

.apple {
    align-items: center;
    height: 40px;
    width: 118px;
    margin-left: 18px;
}

.google {
    align-items: center;
    width: 135px;
    height: 40px;
}

.container {
    font-family: 'Roboto', sans-serif;
    width: 1440px;
    margin: 0 auto;
    padding: 120px 100px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
}

.title-stroke {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stroke {
    margin-bottom: 100px;
    width: 100px;
    height: 4px;
    background: #F5BD41;
    border: none;
}

.row {
    margin: 0;
}

.col {
    display: flex;
    float: left;
    width: 300px;
    height: 180px;
}

.review {
    margin: 0;
    text-align: center;
    border-radius: 8px;
}

.review-image1 {
    margin: 28px 0;
    width: 80px;
    height: 90px;
}

.review-image2 {
    margin: 32px 0;
    width: 85px;
    height: 85px;
}

.review-image3 {
    margin: 40px 0;
    width: 100px;
    height: 70px;
}

.review-image4 {
    margin: 32px 0;
    width: 90px;
    height: 85px;
}

.review-title {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.-text {
    color: #383838;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    align-content: center;
    background: #10367C;
    height: 630px;
    width: 1440px;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-left: 104px;
}

.about {
    text-align: left;
    width: 211px;
    height: 190px;
    margin-bottom: 158px;
}

.property {
    margin-left: 223px;
    text-align: left;
    width: 133px;
    height: 305px;
}

.support {
    margin-left: 285px;
    line-height: 23px;
    text-align: left;
    width: 230px;
    height: 117px;
}

.end {
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 105px;
}

.style1 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.style2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.style3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}