@import url('./fonts.css');

* {
    margin: 0;
    box-sizing: border-box;
    color: #333333;
}
body{
    font-family: 'Roboto', sans-serif;
}
.top {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: border-box;
    align-content: center;
    width: 100%;
    min-height: 900px;
    background: url("../images/castl.png");
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.header-links{
    display: flex;
    width: 300px;
    margin-right: 104px;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4px;
}
.logo {
    display: flex;
    flex-direction: row;
    margin-left: 104px;
    height: 40px;
    width: 205px;
}
.svg-sprite{
    position:absolute;
    visibility:hidden;
    width: 0;
    height: 0;}

.stays {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
}
.stays:hover,.attractions:hover{
    border-bottom: 4px solid #F5BD41;
    cursor: pointer;
}
.attractions {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 108px;
    height: 28px;
    padding-bottom: 10px;
    margin-right: 30px;
    margin-left: 10px;
}

.home {
    display: flex;
    height: 40px;
    width: 40px;
    margin-left: 25px;
}

.light {
    display: flex;
    height: 30px;
    width: 30px;
}

.disc {
    display: flex;
    margin-top: 200px;
    margin-left: 105px;
    width: 540px;
    height: 120px;

}
.menu{
    display: none;
    width: 25px;
    height: 15px;
}

.discover {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
}

.section {
    display: flex;
    margin-top: 100px;
    margin-left: 130px;
    flex-direction: row;
    gap: 220px;
    height: 20px;
    width: 960px;
}

.destination {
    flex-direction: row;
    display: flex;
    text-align: left;
    width: 250px;

}

.check {
    display: flex;
    flex-direction: row;
    width: 185px;
    text-align: left;
}

.info {
    flex-direction: row;
    color: #ffffff;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.inputs {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 100%;
    margin-left: 105px;
    margin-right: 105px;
    border-radius: 8px;
    border: medium;
}
.city {
    width: 470px;
    height: 65px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: medium;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.date {
    width: 260px;
    height: 65px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border-color: #FFFFFF;
}
.date:hover{
    border-color:#F5BD41;
    border-width: 3px;
    border-radius: 8px;
}
.check{
    display:none;
    gap: 8px;
}
.check-in{
    display: none;
}
.check-out{
    display: none;
}
.rooms {
    width: 320px;
    height: 65px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: medium;

}
.room{
    display: none;
}
.adult {
    display: none;
}
.search {
    width: 190px;
    height: 65px;
    text-align: center;
    background: #3077C6;
    border: medium;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.sear {
    margin-top: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    background: #3077C6;
    border: medium;
    border-radius: 8px;
}
.market-place {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 270px;
    margin-left: 585px;
    margin-top: 120px;
}

.apple {
    align-items: center;
    height: 40px;
    width: 120px;
    margin-left: 20px;
}

.google {
    align-items: center;
    width: 135px;
    height: 40px;
}

.container {
    margin: 0 auto;
    padding: 0 16px;
}
.advantages{
    padding-top: 120px;
    padding-bottom: 120px;
}
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}

.title-stroke {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stroke {
    margin-bottom: 100px;
    width: 100px;
    height: 4px;
    background: #F5BD41;
    border: none;
}

.-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"]{
    padding-left: 8px;
    padding-right: 8px;
}
.review {
    padding: 32px;
    text-align: center;
}

.review-image {

}
.-help{
    width: 75px;
    height: 90px;
}
.-connect{
    width: 85px;
    height: 85px;
}
.-like{
    width: 90px;
    height: 85px;
}
.-booking{
    width: 100px;
    height: 70px;
}
.review-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #383838;
}
.-sup{
    padding-top:50px;
}
.-communication{
    padding-top:60px;
}
.-book{
    padding-top:75px;
}
.-reviews{
    padding-top: 60px;
}
.footer {
    display: flex;
    flex-direction: column;
    background: #10367C;
    align-items: flex-start;
}

.content {
    display: flex;
    margin-top: 120px;
    width: 100%;
    padding-left: 104px;
}
.logo-footer{
    display: none;
}
.about {
    line-height: 23px;
}

.property {
    line-height: 23px;
}

.support {
    line-height: 23px;
}

.end {display: flex;
    align-content: center;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 160px;
    padding-left: 105px;
}

.footer__style-second {
    font-weight: 400;
    font-size: 20px;
    line-height: 43px;
    color: #FFFFFF;
}

.footer__style-first{
    font-weight: 500;
    font-size: 20px;
    line-height: 43px;
    color: #FFFFFF;
}

.footer__style-end {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .attractions {
        display: none;
    }
    .stays{
        display: none;
    }
    .menu{
        display: flex;
        width: 25px;
        height: 15px;
    }
    .inputs {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        height: 240px;
        width: 330px;
        border-radius: 0px;
        border: medium;
        background-color: #F5BD41;
        gap: 8px;
        padding: 8px;
    }
    .city{
        width: 310px;
        height: 50px;
        text-align: left;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        border: medium;
        border-radius: 8px;
    }
    .date {
        display: none;
    }
    .check{
        display: flex;
        flex-direction: row;
    }
    .check-in{
        display: flex;
        width: 150px;
        height: 50px;
        border: medium;
        border-radius: 8px;
    }
    .check-out{
        display: flex;
        width: 150px;
        height: 50px;
        border: medium;
        border-radius: 8px;
    }
    .rooms{
        display: none;
    }
    .room{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 310px;
        height: 50px;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 14px;
        background-color: #FFFFFF;
        border: medium;
        border-radius: 8px;
    }
    .adult{
        display: flex;
        width: 104px;
        height: 40px;
        border-width: 5px;
        border-right: #BFBFBF;
    }
    .children{
        display: flex;
        width: 104px;
        height: 40px;
    }
    .flat{
        display: flex;
        width: 104px;
        height: 40px;
        border-left: #BFBFBF;
        border-width: 5px;
    }
    .info{
        display: none;
    }
    .market-place {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .header-links{
        margin-right: 15px;
    }
    .section{
        display: none;
    }
    .disc{
        margin-top: 50px;
    }
    .col-5{
        width: 50%;
    }
    .discover {
        font-size: 30px;
        line-height: 35px;
    }

    .search {
        width: 310px;
        height: 50px;
        text-align: center;
        background: #3077C6;
        border: medium;
        border-radius: 8px;
    }
    .sear{
        margin-top: 14px;
        text-align: center;
        font-size: 19px;
        line-height: 23px;
    }
    .advantages{
        padding-top: 35px;
        padding-bottom: 40px;
    }
    .title-stroke{
        margin: 0 auto;
    }
    .stroke{
        display: none;
    }
    .review {
        margin-bottom: 0;

    }
    .title{
        font-size: 28px;
        margin-bottom: 0;
    }
    .review-title {
        font-size: 15px;
        line-height: 18px;
    }
    .-sup{
        padding-top:20px;
    }
    .-communication{
        padding-top:25px;
    }
    .-book{
        padding-top:30px;
    }
    .-reviews{
        padding-top: 25px;
    }

    .col-3:last-child.review {
        margin-bottom: 0;
    }
    #about{
        display: none;
    }
    #property{
        display: none;
    }
    #support{
        display: none;
    }
    .logo-footer{
        display: flex;
        align-items: center;
        margin: 40px auto;
        width: 100px;
        height: 20px;
    }
    .content{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0;
        margin-top: 0;

    }
    .footer{
        align-items: center;
    }
    .footer__style-first{
        font-size: 15px;
        line-height: 10px;
    }
    .about{
        margin-left: 0;

    }
    .property{
        margin-left: 0;
        margin-right: 0;
    }
    .support{
        margin-left: 0;
    }
    .footer__style-end {
        font-size: 12px;
    }
    .end {
        line-height: 23px;
        text-align: center;
        margin: 32px auto;
        padding-left: 0;
    }
    .col-4{
        width: 16.26%
    }
    .col-4.property{
        width: 25%;
    }
    
}

